Constraint_Error on tab character

AWS.Headers.Read_G.Parse_Header_Line tries to trim whitespace off header field values by using Ada.Strings.Fixed.Trim. That removes only spaces. Any tab characters, and any space characters hidden behind tab characters, are left included in the value.

RFC 9112 section 5.1 says:

> OWS occurring before the first non-whitespace octet of the field line value, or after the last non-whitespace octet of the field line value, is excluded by parsers when extracting the field line value from a field line.

OWS is defined in RFC 9110 section 5.6.3 as any number of space and/or tab characters:
```
  OWS            = *( SP / HTAB )
                 ; optional whitespace
```
If a request is sent with AWS.Client.Get and the response includes a tab in the length field, like
```
Content-Length:<tab>123
```
or
```
Content-Length: 123<tab>
```
it results in a Constraint_Error with a message like «bad input for 'Value: "	123"».

To be permissive in what it accepts, AWS needs to trim both spaces and tabs from field values.